
.testimonial{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    row-gap: 3rem;
    width: min(95%, 80rem);
    margin: 10px auto;
  }

  @media (width <= 1024px){
    .testimonial{
      display: flex;
      flex-wrap: wrap;
      
      gap: 1.5rem;
      width: auto;
      margin: 10px auto;}
}

@media (width <= 1024px){
  #carouselExampleFade{
  width: 90%;
}
}

.carrusel{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

  .tarjetas{
    width: 18rem;
    border: 2px solid white;
    border-radius: 15px 15px 0px 0px;
    margin: 0 auto;
  }
  
  @media (width <= 1024px){
    .tarjetas{
    width: 13rem;
  }
  }

  @media (width <= 425px){
    .tarjetas{
    width: 0px;
    height: 0px;
    overflow: hidden;
  }
  }

  .tarjetas img{
    border-radius: 15px 15px 0px 0px;
  }

  


  .card-text{
    text-align: center;
  }
  
  .ciudades{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 10px;
    margin: 0 auto;
    width: 90%;
  }

  @media (width <= 425px){
    .ciudades{
    flex-direction: column;
    border: 1px solid white;
    
    padding: 5px;
  }
  }
  
  .texto-ciudad{
    justify-content: center;
    margin: auto 0px;
    width: 66%;
  }

 

  @media (width <= 425px){
    .texto-ciudad{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
  }
  }

  @media (width <= 425px){
  .texto-ciudad p{
    text-align: center; }
}
  
  .foto-ciudad{
    width: 33%;
    border-radius: 0px 0px 0px 0px;
  }

  @media (width <= 425px){
    .foto-ciudad{
      justify-content: center;
      
      width: 100%;
  }
  }